.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px; /* 减小宽度 */
    height: 30px; /* 减小高度 */
    animation: spin 1.5s linear infinite; /* 加快旋转速度 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}